<template name="ScheduleShow">
	<div class="row">
		<div class="small-12 columns">
			<h1>Scheduler page</h1>
            <p>Assign open hours for each parking lot</p>
		</div>
	</div>	
	<div class="row">
		<div class="small-6 columns">
            <label for="ParkingAreaDropdown">
                <span>Select parking area</span>
                <select id="ParkingAreaDropdown">
                    <option></option>
                    {{#each parkingareas}}
                        <option value="{{_id}}">{{title}}</option>
                    {{/each}}
                </select>
            </label>
		</div>
		<div class="small-6 columns">
            <label for="ParkingLotDropdown">
                <span>Select parking lot</span>
                <select id="ParkingLotDropdown">
                    {{> ParkingLotOptions}}
                </select>
            </label>
		</div>
	</div>	

    <section id="ScheduleSection">
        {{> ScheduleSection}}
    </section>

	<div class="row">
		<div class="small-12 columns">
			<p>Lat: {{currentPosition.lat}}, Long: {{currentPosition.lng}}</p>
		</div>
	</div>
</template>



<template name="ParkingLotOptions">
    <option></option>
    {{#each parkinglots}}
        <option value="{{id}}" selected="{{selected}}">#{{id}} (x{{multi}})</option>
    {{/each}}
</template>



<template name="ScheduleSection">
    {{#if isValid}}
        {{#each timeslots}}
            {{> Timeslot}}
        {{/each}}

        <div class="row">
            <div class="small-12 columns">
                <button id="addTimeslotButton" class="success button">Add</button>
            </div>
        </div>	
    {{/if}}
</template>

<template name="Timeslot">
	<div class="timeslot row" data-timeslot="{{id}}">
		<div class="small-6 columns">
            <label for="From">
                <span>From:</span>
                <input id="From" type="text" value="{{start}}"/>
            </label>
		</div>
		<div class="small-6 columns">
            <label for="To">
                <span>To:</span>
                <input id="To" type="text" value="{{end}}"/>
            </label>
		</div>
	</div>	
</template>
