@import 'settings';
@import '{zurb:foundation-sites}/scss/foundation';
@include foundation-everything;
/*
//REPLACE foundation-everything with required parts of below list for more compact css
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
*/

.bottom-menu-bar {
	position:absolute;
	width: $global-width - 2 * $global-margin;
	bottom:0;
	margin-bottom:0;
	background-color:$medium-gray;
}

.map-container {
	position:absolute;
	top:0;
	right:0;
	bottom:5.734375rem;
	left:0;
	
	
	
	
	.widget-mylocation-button:active .widget-mylocation-button-normal {
		background-position: -54px 0;
	}
	.widget-mylocation-button:hover .widget-mylocation-button-normal {
		background-position: -36px 0;
	}
	.highres .widget-mylocation-button .widget-mylocation-cookieless {
		background-image: url(//maps.gstatic.com/tactile/mylocation/mylocation-sprite-cookieless-v2-2x.png);
	}
	.widget-mylocation-button .widget-mylocation-button-normal {
		background-position: 0 0;
	}
	.widget-mylocation-button .widget-mylocation-cookieless {
		background-image: url(//maps.gstatic.com/tactile/mylocation/mylocation-sprite-cookieless-v2-1x.png);
		background-size: 180px 18px;
	}
	.widget-mylocation-button-icon-common {
		display: block;
		height: 18px;
		left: 6px;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 6px;
		width: 18px;
	}	
	
	.widget-mylocation-button {
		background-color:#fff;
		border: 2px solid #fff;
		border-radius: 3px;
		box-shadow: 0 2px 6px rgba(0,0,0,.3);
		cursor: pointer;
		margin-bottom:22px;
		text-align: center;
	}

	.widget-mylocation-button .widget-mylocation-button-normal {
		height:18px;
		width:18px;
	}
}